<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ info.title }}</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/layouts/start.css" />
    <script src="/scripts/global.js" defer></script>
    <script src="/scripts/layouts/start.js" defer></script>
  </head>
  <body>
    <!-- Bindet die Kopfzeile ein. -->
    {% include "components/header.html" %}

    <!-- Zeigt alle Projekte mit Vorschaubild und Informationen. -->
    <main>
      <div class="project-grid">
        <!-- Erstellt für jedes Projekt einen Eintrag. -->
        {%- for project in collections.projects -%}
        <a class="project" href="{{ project.url }}">
          <img src="{{ project.data.images | first }}" alt="" />

          <div class="project-info">
            <h2>{{ project.data.title }}</h2>
            <div>{{ project.data.category }}</div>
            <div>{{ project.data.year }}</div>
          </div>
        </a>
        {%- endfor -%}
      </div>
    </main>

    <!-- Bindet die Fußzeile ein. -->
    {% include "components/footer.html" %}
  </body>
</html>
