<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ info.title }}</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/layouts/contact.css" />
  </head>
  <body>
    <!-- Bindet die Kopfzeile ein. -->
    {% include "components/header.html" %}

    <!-- Inhalt der Kontaktseite: -->
    <main>
      <div class="info-contact">
        <!-- Zeigt den Inhalt aus der Markdown-Datei. -->
        {{ content | safe }}
      </div>
    </main>

    <!-- Bindet die Fußzeile ein. -->
    {% include "components/footer.html" %}
  </body>
</html>
