<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ info.title }}</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/layouts/info.css" />
    <script src="/scripts/global.js" defer></script>
    <script src="/scripts/layouts/info.js" defer></script>
  </head>
  <body>
    <!-- Bindet die Kopfzeile ein. -->
    {% include "components/header.html" %}

    <!-- Inhalt der Info-Seite: -->
    <main>
      <div class="info-text">
        <!-- Zeigt den Inhalt aus der Markdown-Datei. -->
        {{ content | safe }}
      </div>
    </main>

    <!-- Bindet die Fußzeile ein. -->
    {% include "components/footer.html" %}
  </body>
</html>
