<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ info.title }} – {{ title }}</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/layouts/project.css" />
  </head>
  <body>
    <!-- Bindet die Kopfzeile ein. -->
    {% include "components/header.html" %}

    <!-- Inhalt der Projektseiten: -->
    <main>
      <!-- Bilder aus dem Projektordner: -->
      <div class="project-gallery">
        {%- for image in images -%}
        <div class="project-gallery-image">
          <img src="{{ image }}" alt="{{ title }}" loading="lazy" />
        </div>
        {%- endfor -%}
      </div>

      <!-- Zeigt die Beschreibung des Projekts. -->
      <div class="project-info">
        <h2>{{ title }}</h2>
        <div>{{ category }}</div>
        <div>{{ year }}</div>
        <div class="project-description">{{ content | safe }}</div>
      </div>

      <!-- Bindet die Projektnavigation ein. -->
      {% include "components/pagination.html" %}
    </main>

    <!-- Bindet die Fußzeile ein. -->
    {% include "components/footer.html" %}
  </body>
</html>
